<a href="https://colab.research.google.com/github/Deep-of-Machine/HYU_assignment/blob/main/2%EC%A3%BC%EC%B0%A8_%EB%8B%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
round(2.5)

2

In [ ]:
int(7)
float(3)
str(2018)
int(0.1)
float(3.14)
str(3+4)
int(3.84)
float("3.14")
str(1.414)
int(0.2e3)
float("3")
str(0.1*0.1)
int("2020")
float("0.1*0.1")
str(3.14e-3)
int("3.14")
int("3+4")
int("three")

ValueError: ignored

In [ ]:
s = 9.58
result = ((100/s) * (60*60)/1000)
print(int(result))

37

In [ ]:
from math import pi

r  = float(input())

result = pi * r ** 2 
print("The area of a circle with radius", r, "is", round(result, 1))

3
The area of a circle with radius 3.0 is 28.3

In [ ]:
print('Enter the number of coins you have.')
c_500 = int(input('500 won? '))
c_100 = int(input('100 won? '))
c_50 = int(input(' 50 won? '))
c_10 = int(input(' 10 won? '))
result = c_500*500 + c_100*100 + c_50*50 + c_10*10
print('You have', result, 'won in total.')

Enter the number of coins you have.
500 won? 4
100 won? 2
 50 won? 3
 10 won? 4
You have 2390 won in total.

In [ ]:
print('Fahrenheit to Celsius conversion')
f = float(input('Degrees in Fahrenheit?'))

c = (f-32)*(5/9)
print(round(c,1), 'degrees in Celsius')

Fahrenheit to Celsius conversion
Degrees in Fahrenheit?67
19.4 degrees in Celsius

In [ ]:
def coin_in_total(c500, c100, c50, c10):
    result = c500*500 + c100*100 + c50*50 + c10*10
    return result

print(coin_in_total(4,2,3,4))

2390

In [ ]:
def fahrenheit2celsius(f):
    result = (f-32)*(5/9)
    return result

print(fahrenheit2celsius(67))
print(round(fahrenheit2celsius(67),1))

19.444444444444446
19.4

In [ ]:
def complement_nine(n):
    result = 10**len(str(n)) - 1 - n
    return result


print(complement_nine(0))
print(complement_nine(9))
print(complement_nine(4))
print(complement_nine(18))
print(complement_nine(40))
print(complement_nine(207))
print(complement_nine(9142))
print(complement_nine(9965))
print(complement_nine(9999))

9
0
5
81
59
792
857
34
0