<a href="https://colab.research.google.com/github/Deep-of-Machine/HYU_assignment/blob/main/4%EC%A3%BC%EC%B0%A8_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#4.10
def sumrange(m,n):
    if m <= n:
        return m + sumrange(m+1,n)
    else:
        return 0

# Test code
print(sumrange(3,2))   # 0
print(sumrange(3,3))   # 3
print(sumrange(3,4))   # 7
print(sumrange(3,6))   # 18
print(sumrange(1,10))  # 55
print(sumrange(-5,10)) # 40
print(sumrange(-5,-2)) # -14

In [ ]:
#4.11
def sumrange(m,n):
    def loop(m,total):
        if m <= n:
            return loop(m+1,_____)
        else:
            return _____
    return loop(m,___)

In [ ]:
#4.12
def sumrange(m,n):
    total = __
    while m <= n:
        total = ________
        m = _______
    return total

In [ ]:
#4.20
def gcd(m,n):
    if n != 0:
        return gcd(n,m%n)
    else:
        return m

# Test code
print(gcd(48,18))  # 6
print(gcd(18,48))  # 6
print(gcd(192,72)) # 24
print(gcd(18,57))  # 3
print(gcd(0,11))   # 11

In [ ]:
#4.23
def gcd(m,n):
    if not (m == 0 or n == 0):
        if even(m) and even(n):
            return 2 * gcd(m//2,n//2)
        elif even(m) and odd(n):
            return gcd(m//2,n)
        elif odd(m) and even(n):
            return gcd(m,n//2)
        elif m <= n:
            return gcd(m,(n-m)//2)
        else:
            return gcd(n,(m-n)//2)
    else:
        if m == 0:
            return n
        else:
            return m

In [ ]:
#4.24
def gcd(m,n):
    def loop(m,n,k):
        if not (m == 0 or n == 0):
            if even(m) and even(n):
                return loop(m//2,n//2,_____)
            elif even(m) and odd(n):
                return loop(m//2,n,k)
            elif odd(m) and even(n):
                return loop(m,n//2,k)
            elif m <= n:
                return loop(m,(n-m)//2,k)
            else:
                return loop(n,(m-n)//2,k)
        else:
            if m == 0:
                return _______
            else: # n == 0
                return _______
    return loop(m,n,1)

In [ ]:
#4.25
def gcd(m,n):
    k = 1
    while not (m == 0 or n == 0):
        if even(m) and even(n):
            m, n, k = _______
        elif even(m) and odd(n):
            m = _______
        elif odd(m) and even(n):
            n = _______
        elif m <= n:
            n = _______
        else:
            m, n = _______
    if m == 0:
        return _______
    else: # n == 0
        return _______

In [ ]:
#4.26
def mult(m,n):
    if n > 0:
        return m + mult(m,n-1)
    else:
        return 0

In [ ]:
#4.27
def mult(m,n):
    def loop(n,ans):
        if n > 0:
            return ____
        else:
            return ____
    return loop(n,____)

In [ ]:
#4.28
def mult(m,n):
    ans = ___
    while _______ :
    	pass # Fill your code in this space.


    return ____

In [ ]:
#4.29
def fastmult(m,n):
    if n > 0:
        if n % 2 == 0:
            return ___
        else:
            return ___
    else:
        return ___

In [ ]:
#4.30
def fastmult(m,n):
    def loop(m,n,ans):
        if n > 0:
        	pass # Fill your code in this space.

        else:
            return ___
    return loop(m,n,__)

In [ ]:
#4.31
def fastmult(m,n):
    ans = ______
    while n > 0:
        pass # Fill your code in this space.


    return ans